* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
:root {
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}
img {
  width: 90%;
}

body {
  background-color: var(--Very-Dark-Blue);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
}

main {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 2rem;
  width: 100%;
}

.section {
  background-color: var(--Dark-Blue);
  transition: 0.6s;
}

.file-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 1.5rem;
  width: 350px;
  border-radius: 10px 100px 10px 10px;
  height: 200px;
  transition: 0.8s;
}

.logo {
  width: 60%;
}

.icons {
  display: flex;
  gap: 1rem;
}

.icons > div {
  width: 45px;
  height: 45px;
  background-color: var(--Very-Dark-Blue);
  padding: 0.7rem;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 4px rgba(12, 56, 167, 0.052);
}

.usage-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  padding: 2rem;
  color: var(--Grayish-Blue);
  border-radius: 10px;
  height: 180px;
}

span,
p {
  color: var(--Pale-Blue);
}

.line-usage {
  background-color: var(--Very-Dark-Blue);
  width: 100%;
  height: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 0.5rem;
}

.line-usage .line {
  border: none;
  height: 15px;
  width: 80%;
  border-radius: 10px;
  margin-left: 5px;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 1.5s;
}

.white-ball {
  background-color: white;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 2px;
}

.gigs {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  body {
    background-image: url("./images/bg-mobile.png");
    background-size: cover;
  }
}

@media (max-width: 750px) {
  main {
    width: 100%;
  }
  .container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .file-section {
    width: 350px;
    transition: 0.4s;
    border-bottom-left-radius: 100px;
    align-items: center;
    transition: 0.8s;
  }
  .usage-section {
    width: 350px;
  }
  .line-usage .line {
    width: 170px;
    transition: 1.6s;
  }
}